@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiButton-containedPrimary {
    margin: auto !important;
    display: block !important;
    width: 30%;
    margin-bottom: 16px !important;
}